.heroSvg {
  position: absolute;
  bottom: 0;
}

.hero {
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

.fot {
  z-index: -2;
  width: 100%;
  display: block;
}

.foot {
  background: rgba(10, 41, 77, 0.8);
}

.of {
  height: 40.5rem;


}